{% extends '@DeliveryOrder/base.html.twig' %}

{% block body %}
    <header>
      <h1>Livraison de nuit de différents produits</h1>

      Pour les listes de categories:

      {% for category in categories  %}
      <ul>
          {% for product in category.products %}
            <li><a href="{{ path('product_get', {slug: product.slug}) }}">{{ product.name }}</a></li>
          {% endfor %}
      </ul>
      {% endfor %}
    </header>
{% endblock %}
